.FilterPage {
  box-sizing: border-box;
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  padding: 5px;
  padding-right: 15px;
}
/* .Title {
  height: 10%;
} */

.Content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7rem;
}
