.BottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  border-radius: 0.9375rem 0.9375rem 0rem 0rem;
  border-top: 1px solid #43517d;
  background: linear-gradient(180deg, #2d3653 0%, #1b1d34 100%);
  box-shadow: 0px 14px 50px 0px rgba(0, 0, 0, 0.15);
}

.NavItem {
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.NavItem:hover {
  background-color: #555;
  color: #fff;
}

.NavItem.active {
  background-color: #007bff;
  color: #fff;
}
